.admin {
  &-container {
    max-width: 1260px;
    margin: 0 auto;
  }
  &-content {
    display: flex;
  }
  &-content {
    display: flex;
    flex-direction: column;
    &__item {
      margin-top: 20px;
      width: 500px;
      background: aliceblue;
      padding: 20px;
      border: #1a1a1a solid 1px;
      a {
        text-decoration: none;
        color: #1a1a1a;
      }
    }
  }
}
